<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Responsive Bootstrap App Landing Page Template">
<meta name="keywords" content="Kane, Bootstrap, Landing page, Template, App, Mobile, Android, iOS">
<meta name="author" content="Mizanur Rahman">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title>{{ _('title') }}</title>

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="/static/images/favicon.ico">
<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<!-- FONT ICONS -->
<link rel="stylesheet" href="/static/assets/elegant-icons/style.css">
<link rel="stylesheet" href="/static/assets/app-icons/styles.css">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

<!-- WEB FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="/static/css/owl.theme.css">
<link rel="stylesheet" href="/static/css/owl.carousel.css">
<link rel="stylesheet" href="/static/css/nivo-lightbox.css">
<link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="/static/css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="/static/css/styles.css">

<!-- COLORS -->
<!-- <link rel="stylesheet" href="/static/css/colors/blue.css"> --> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="/static/css/colors/red.css"> --> 
<!-- <link rel="stylesheet" href="/static/css/colors/green.css"> --> 
<!-- <link rel="stylesheet" href="/static/css/colors/purple.css"> --> 
<!-- <link rel="stylesheet" href="/static/css/colors/orange.css"> --> 
<!-- 
<link rel="stylesheet" href="/static/css/colors/blue-munsell.css">
 -->
<!-- <link rel="stylesheet" href="/static/css/colors/slate.css"> --> 
<!-- <link rel="stylesheet" href="/static/css/colors/yellow.css"> -->

<link rel="stylesheet" href="/static/css/colors/strappo-blue.css">


<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="/static/css/responsive.css">


<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

	<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#"><img src="/static/images/logo-black.png" alt=""></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
                    <li><a href="#home">{{ _('home') }}</a></li>
                    <li><a href="#what">{{ _('what_it_is') }}</a></li>
                    <li><a href="#brief1">{{ _('how_it_works') }}</a></li>
                    <li><a href="#features">{{ _('features_navbar') }}</a></li>
                    <li><a href="#availability">{{ _('availability') }}</a></li>
                    <li><a href="#team">{{ _('team') }}</a></li>
					<li><a href="#download">Download</a></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	
	
	<!-- CONTAINER -->
	<div class="container">
		
		<!-- ONLY LOGO ON HEADER -->
		<div class="only-logo">
			<div class="navbar">
				<div class="navbar-header">
					<img src="/static/images/logo.png" alt="">
				</div>
			</div>
		</div> <!-- /END ONLY LOGO ON HEADER -->
		
		<div class="row">
			<div class="col-md-12">
				
				<!-- HEADING AND BUTTONS -->
				<div class="intro-section">
					
					<!-- WELCOM MESSAGE -->
                    <img class="intro img-responsive" src="/static/images/slogan.png" />
                    
                    <h5>{{ _('available_on_the_stores') }}</h5>
					
					<!-- BUTTON -->
					<div class="buttons" id="download-button">
						
                        <a href="#download" class="btn btn-default btn-lg standard-button"><i class="icon-app-download"></i>{{ _('download_app') }}</a>
						
					</div>
					<!-- /END BUTTONS -->
					
				</div>
				<!-- /END HEADNING AND BUTTONS -->
				
			</div>
		</div>
		<!-- /END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->

<!-- =========================
     WHAT
============================== -->
<section class="app-brief grey-bg" id="what">

<div class="container">
    
    <div class="row">
        
        <!-- PHONES IMAGE -->
        <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
            <div class="video-container">
                
                <!--
                <div class="video">
                    
                    <iframe src="//player.vimeo.com/video/88902745?byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="338" frameborder="0" allowfullscreen>
                    </iframe> 
                </div>
                -->
                
                <div class="video">                    
                    <iframe src="//player.vimeo.com/video/104449118?title=0&amp;byline=0&amp;portrait=0&amp;color=4bbaa9" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                
            </div>

        </div>
        
        <!-- RIGHT SIDE WITH BRIEF -->
        <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
            
            <!-- SECTION TITLE -->
            <h2 class="dark-text">{{ _('what_it_is') }}</h2>
            
            <div class="colored-line-left">
            </div>
            
            <p>
                {{ _('what_it_is_desc') }}
            </p>
            
            
        </div>
        <!-- /END RIGHT BRIEF -->
        
    </div>
    <!-- /END ROW -->
    
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->




<!-- =========================
     PASSENGER 
============================== -->
<section class="features" id="brief1">

<div class="container">	
	
	<div class="row">	
		
        <!-- PHONES IMAGE -->
        <div class="col-md-5 col-sm-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

			<div class="phone-image hidden-xs">
				<img src="/static/images/single-iphone.png" alt="">
				<div id="passenger-screenshots" class="owl-carousel owl-theme phone-screen">
	                <div>
    	                <img src="/static/images/passenger/1.png" alt="">
        	        </div>

            	    <div>
                	    <img src="/static/images/passenger/2.png" alt="">
                	</div>

                	<div>
                    	<img src="/static/images/passenger/3.png" alt="">
                	</div>
           		</div>
			</div>

        </div>
        <!-- /END PHONES IMAGE -->
		
		<!-- FEATURES RIGHT -->
		<div class="col-md-7 col-sm-7 col-sm-6 features-right wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		    <!-- SECTION TITLE -->
            <h2 class="dark-text">{{ _('passenger') }}</h2>
            
            <div class="colored-line-left">
            </div>
            <br>
            <p>
                {{ _('passenger_text') }}
            </p>
            <br>
			
			<!-- FEATURE -->
			<div class="feature" data-carousel="passenger-screenshots" data-carousel-goto="0">
				
				<!-- ICON -->
				<div class="icon-container hidden-xs hidden-sm">
					<div class="icon">
						<i class="icon_search"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ _('passenger_step1_title') }}</h4>
					<p>
						 {{ _('passenger_step1') }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
            <div class="feature" data-carousel="passenger-screenshots" data-carousel-goto="1">
				
				<!-- ICON -->
				<div class="icon-container hidden-xs hidden-sm">
					<div class="icon">
						<i class="icon_id"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ _('passenger_step2_title') }}</h4>
					<p>
						 {{ _('passenger_step2') }}
					</p>
				</div>
				
			</div>
			
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
            <div class="feature" data-carousel="passenger-screenshots" data-carousel-goto="2">
				
				<!-- ICON -->
				<div class="icon-container hidden-xs hidden-sm">
					<div class="icon">
						<i class="icon_target"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ _('passenger_step3_title') }}</h4>
					<p>
						 {{ _('passenger_step3') }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->		
			
		</div>
		<!-- /END FEATURES RIGHT -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     DRIVER 
============================== -->
<section class="features grey-bg" id="brief2">

<div class="container">	
	
	<div class="row">	
				
		<!-- FEATURES LEFT -->
		<div class="col-md-7 col-sm-7 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		    <!-- SECTION TITLE -->
            <h2 class="dark-text">{{ _('driver') }}</h2>
            
            <div class="colored-line-left">
            </div>
            <br>
            <p>
                {{ _('driver_text') }}
            </p>
            <br>
			
			<!-- FEATURE -->
            <div class="feature" data-carousel="driver-screenshots" data-carousel-goto="0">
				
				<!-- ICON -->
				<div class="icon-container hidden-xs hidden-sm">
					<div class="icon">
						<i class="icon_pencil-edit"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ _('driver_step1_title') }}</h4>
					<p>
						 {{ _('driver_step1') }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
            <div class="feature" data-carousel="driver-screenshots" data-carousel-goto="1">
				
				<!-- ICON -->
				<div class="icon-container hidden-xs hidden-sm">
					<div class="icon">
						<i class="icon_check_alt2"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ _('driver_step2_title') }}</h4>
					<p>
						 {{ _('driver_step2') }}
					</p>
				</div>
				
			</div>
			
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
            <div class="feature" data-carousel="driver-screenshots" data-carousel-goto="2">
				
				<!-- ICON -->
				<div class="icon-container hidden-xs hidden-sm">
					<div class="icon">
						<i class="icon_target"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ _('driver_step3_title') }}</h4>
					<p>
						 {{ _('driver_step3') }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->		
			
		</div>
		<!-- /END FEATURES LEFT -->
		
        <!-- PHONES IMAGE -->
        <div class="col-md-5 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">			
        	<div class="phone-image hidden-xs hidden-sm">
				<img src="/static/images/single-iphone.png" alt="">
            	<div id="driver-screenshots" class="owl-carousel owl-theme phone-screen">

                	<div>
                    	<img src="/static/images/driver/1.png" alt="">
                	</div>

                	<div>
                    	<img src="/static/images/driver/2.png" alt="">
                	</div>

                	<div>
                 	   <img src="/static/images/driver/3.png" alt="">
                	</div>

            	</div>
            </div>
        </div>	
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     FEATURE HIGHLIGHTS
============================== -->
<section class="services" id="features">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">{{ _('features') }}</h2>
		
		<div class="colored-line">
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row">
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon_gift"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>{{ _('highlights_ride_free_title') }}</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 {{ _('highlights_ride_free_text') }}
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->

		<!-- SINGLE SERVICE -->
<!-- 
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!~~ SERVICE ICON ~~>
			<div class="service-icon">
				<i class="icon_balance"></i>
			</div>
			
			<!~~ SERVICE HEADING ~~>
			<h3>{{ _('highlights_driver_payout_title') }}</h3>
			
			<!~~ SERVICE DESCRIPTION ~~>
			<p>
				 {{ _('highlights_driver_payout_text') }}
		    </p>
			
		</div>
 -->
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="social_share"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>{{ _('highlights_community_title') }}</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 {{ _('highlights_community_text') }}
		    </p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon_heart"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>{{ _('highlights_environment_title') }}</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 {{ _('highlights_environment_text') }}
		    </p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->



<!-- =========================
     AVAILABILITY
============================== -->
<section class="availability" id="availability">

<div class="color-overlay">
    
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
        
        <!-- SECTION TITLE -->
        <h2>{{ _('availability') }}</h2>
        
        <div class="white-line">
        </div>        
    </div>

    <!-- /END SECTION HEADER -->
    <div class="container">        
    
    	<div class="image">
            <!-- i class=" icon_quotations"></i -->
            <img src="/static/images/viareggio.png" alt="">
        </div>
        <div class="name">
            Viareggio
        </div>
        <div class="section-description col-md-6 col-md-offset-3">
            {{ _('availability_text') }}
        </div>

    </div>
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END AVAILABILITY SECTION -->

<!-- =========================
     TEAM 
============================== -->
<section class="testimonials" id="team">

<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
        
        <!-- SECTION TITLE -->
        <h2>{{ _('team') }}</h2>
        
        <div class="colored-line">
        </div>
    </div>

    <!-- /END SECTION HEADER -->
    <div class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
        
        <!-- FEEDBACKS -->
        <div id="feedbacks" class="owl-carousel owl-theme">
            
            <!-- SINGLE FEEDBACK -->
            <div class="feedback">
                <!-- IMAGE -->
                <div class="image">
                    <!-- i class=" icon_quotations"></i -->
                    <img src="/static/images/team-pic/giovanni.jpg" alt="">
                </div>
                
                <!-- INFORMATION -->
                <div class="name">
                    Giovanni Bianchi
                </div>
                <div class="company-info">
                    {{ _('giovanni_role') }}
                </div>
                
                <div class="white-line">
                </div>
                
                <div class="message">
                     {{ _('giovanni_bio') }}
                </div>
            </div>
            <!-- /END SINGLE FEEDBACK -->
            
            <!-- SINGLE FEEDBACK -->
            <div class="feedback">
                <!-- IMAGE -->
                <div class="image">
                    <!-- i class=" icon_quotations"></i -->
                    <img src="/static/images/team-pic/matteo.jpg" alt="">
                </div>
                
                <!-- INFORMATION -->
                <div class="name">
                    Matteo Landi
                </div>
                <div class="company-info">
                    {{ _('matteo_role') }}
                </div>
                
                <div class="white-line">
                </div>
                
                <div class="message">
                    {{ _('matteo_bio') }}
                </div>
            </div>
            <!-- /END SINGLE FEEDBACK -->
            
            <!-- SINGLE FEEDBACK -->
            <div class="feedback">
                <!-- IMAGE -->
                <div class="image">
                    <!-- i class=" icon_quotations"></i -->
                    <img src="/static/images/team-pic/gabriele.jpg" alt="">
                </div>
                
                <!-- INFORMATION -->
                <div class="name">
                    Gabriele Dini
                </div>
                <div class="company-info">
                    {{ _('gabriele_role') }}
                </div>
                
                <div class="white-line">
                </div>

                <div class="message">
                    {{ _('gabriele_bio') }}
                </div>
            </div>
            <!-- /END SINGLE FEEDBACK -->
            
        </div>
        <!-- /END FEEDBACKS -->
        
    </div>
    <!-- /END CONTAINER -->
    
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TEAM SECTION -->

<!-- =========================
     DOWNLOAD NOW 
============================== -->
<section class="download" id="download">

<div class="color-overlay">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				<!-- DOWNLOAD BUTTONS AREA -->
				<div class="download-container">
                    <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">{{ _('download_app_on') }}</h2>
					
					<!-- BUTTONS -->
					<div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
						
						<a href="https://itunes.apple.com/it/app/strappo/id891768414?mt=8" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
						<a href="https://play.google.com/store/apps/details?id=com.gbianchi.strappo" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>
						
					</div>
					<!-- /END BUTTONS -->
					
				</div>
				<!-- END OF DOWNLOAD BUTTONS AREA -->
				
				
				<!-- SUBSCRIPTION FORM WITH TITLE -->
				<div class="subscription-form-container">
					
                    <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">{{ _('subscribe_now') }}</h2>
					
					<!-- =====================
					     MAILCHIMP FORM STARTS 
					     ===================== -->
					
					<form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
						
						<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
						<h4 class="subscription-success"></h4>
						<h4 class="subscription-error"></h4>
						
						<!-- EMAIL INPUT BOX -->
                        <input type="email" name="email" id="subscriber-email" placeholder="{{ _('your_email') }}" class="form-control input-box">
						
						<!-- SUBSCRIBE BUTTON -->
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
						
					</form>
					<!-- /END MAILCHIMP FORM STARTS -->
					
				</div>
                <!-- END OF SUBSCRIPTION FORM WITH TITLE -->
				
			</div> 
			<!-- END COLUMN -->
			
		</div> 
		<!-- END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->


<!-- =========================
     FOOTER 
============================== -->
<footer>

<div class="container">
	
	<!-- LOGO -->
	<img src="/static/images/logo-black.png" alt="LOGO" class="logo responsive-img">
	
	<!-- SOCIAL ICONS -->
	<ul class="social-icons">
		<li><a href="https://www.facebook.com/strappoapp"><i class="social_facebook_square"></i></a></li>
		<li><a href="https://twitter.com/strappoapp"><i class="social_twitter_square"></i></a></li>
		<!--<li><a href=""><i class="social_pinterest_square"></i></a></li>-->
		<!--<li><a href=""><i class="social_googleplus_square"></i></a></li>-->
		<li><a href=""><i class="social_instagram_square"></i></a></li>
		<!--<li><a href=""><i class="social_dribbble_square"></i></a></li>-->
		<!--<li><a href=""><i class="social_flickr_square"></i></a></li>-->
	</ul>
	
	<!-- COPYRIGHT TEXT -->
	<p class="copyright">
		©2014 Strappo, All Rights Reserved
	</p>

</div>
<!-- /END CONTAINER -->
 
</footer>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>
<script src="/static/js/jquery.localScroll.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/simple-expand.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/retina-1.1.0.min.js"></script>
<script src="/static/js/jquery.nav.js"></script>
<script src="/static/js/matchMedia.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.fitvids.js"></script>
<script src="/static/js/custom.js"></script>
<!--<script>-->
  <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
  <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
  <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
  <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

  <!--ga('create', 'UA-52262616-1', 'getstrappo.com');-->
  <!--ga('send', 'pageview');-->
<!--</script>-->


</body>
</html>
